* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-content {
  max-width: 1000px;
  display: block;
}

.toolbar {
  padding: 25px 0;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

a {
  padding: 5px 15px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  transition: .3s;
}

.selected {
  background-color: gray;
  color: whitesmoke;
  border: none;
}

.images-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}